@charset "UTF-8";

html { 
    font-size: 62.5%; 
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Hiragino Mincho Pro","Times New Roman";
    margin: 0;
    padding: 0;
}

.top-index__header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-index__header-logo{
    width: 10.6%;
    height: auto;
    margin-left: 2%;
}

.top-index__header-nav{
    font-family: YuGothic;
    width: 60%;
    list-style: none;
    display: flex;
    color: #949494;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0;
}

.top-index__header-nav-list{
    font-size: 1.4rem;
    white-space: nowrap;
    padding-right: 5%;
}

.top-index__header-nav-contact{
    font-size: 1.4rem; 
    background-color: black;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #BDBDBD;
    border-color: #949494;
    padding: 1% 1.2%;
}

.top-index__header-nav-contact__image{
    width: 3.2rem;
    height: 3.2rem;
}

.top-index__main{
}

.top-index__main-backgroundimage{
    width: 100%;
    height: auto;
    position: relative;
}

.top-index__main-description{
    position: absolute;
    left: 9.8%;
    top: 20%; 
    /* top: 50%; */
    /* transform: translateY(-50%); */
    width: 44.6rem;
    height: 44.6rem;
    background:  #FFFFFF;
    opacity: 0.9;
    color: #121212;
}

.top-index__main-description-title{
    font-size: 4.8rem;
    /* font-size: 3.3vw; */
    letter-spacing: 0.05em;
    margin-top: 29.1%;
    text-align: center;
}

.top-index__main-description-sentence{
    font-size: 1.6rem;
    /* font-size: 1.1vw; */
    margin: 0 5%;
    line-height: 3.5rem;
    letter-spacing: 0.05em;
    font-style: none;
    font-weight: 100;
    padding-bottom: 29.1%;
}

footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background: #FAFFFF;
    text-align: center;
}

/* .top-index__footer-description--year{
    font-size: 3.6rem;
} */

.top-index__footer-description--sentence{
    font-size: 2.7rem;
    /* font-size: 1.8vw; */
    letter-spacing: 0.0015em;
}


@media  (max-width: 1200px) {

    .top-index__main-description{
        top: 15%;
        width: 31vw;
        height: 31vw;
    }

    .top-index__header-nav-list{
        font-size: 0.9vw;
    }
    
    .top-index__header-nav-contact{
        font-size: 0.9vw;
    }

    .top-index__main-description-title{
        font-size: 3.3vw;
        letter-spacing: 0.01em;
    }
    
    .top-index__main-description-sentence{
        font-size: 1.1vw;
        margin: 0 5%;
        line-height: 2vw;
    }

    .top-index__footer-description--sentence{
        font-size: 1.8vw;
    }    
}

@media (max-width: 600px) {

    .top-index__header-logo{
        width: 20.73vw;
        height: auto;
        padding: 3% 0 3% 3%;
    }

    .top-index__header-nav{
        display: none;
    }

    .top-index__main-backgroundimage{
        width: 100vw;
    }
    
    .top-index__main{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .top-index__main-description{
        left: 4.5vw;
        top: 18vw;
        width: 91vw;
        height: 91vw;
    }

    .top-index__main-description-title{
        font-size: 9vw;
        letter-spacing: 0.05em;
    }
    
    .top-index__main-description-sentence{
        font-size: 3.7vw;
        line-height: 7vw;
        letter-spacing: 0.05em;
        margin: 0 10%;
    }

    .top-index__footer-description--sentence{
        font-size: 5vw;
    }
}

